html{
  background-color: #212F3C;
  color :#F7F9F9;
  font-family: 'Black Ops One', cursive;
}
.radio h2{
  text-align: center;
}
.Mac h2{
  text-align: center;
}
header{
  font-family: 'Black Ops One', cursive;
  font-size: 30px;

}
.Earbud h2{
  text-align: center;
}

.watch h2{
  text-align: center;
}
